/*body {
     background-color: #fffcf5;
}*/
#header {
     display: flex;
           justify-content: center; 
      align-items: center; 
     flex-wrap: wrap;
}

#header * {
     margin: 1em;
}
#header a{
    text-decoration:none;
}
#logo {
     border-radius: 4px;
     width: 150px;
}
.ltr {
     direction: ltr;
}

/*#container {
     margin-bottom: 5em;
}
#container * {
     font-family: "Varela Round", sans-serif;
}*/
/*#container *:not(h1, h2, h3) {
     font-size: 30px;
}
#container label {
     margin: 0.5em;
     font-weight: bold;
     display: inline-block;
     min-width: 7em;
}*/
/* #dynamic{
     padding-right:6em;
} */
body {
    font-family: "Varela Round", sans-serif;
    background-repeat: repeat-y;
    background-position: left 2em top;
    background-image: url("./img/line.png");
}