body, html {
    height: 100%;
    font-family: "Varela Round", sans-serif;
    color: white;
}
/*background-color: #fffcf5;*/
/*body {
    background-repeat: repeat-y;
    background-position: left 2em top;
    background-image: url("../img/line.png");
}*/

.bg {
    /* The image used */
    background-image: url('../img/scoreBG.png');
    /* Full height */
    /*height: 100%;*/
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-size: 100% 100%;
}

.bgWin {
    background-image: url('../img/crown.gif');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 55px;
}

#main {
    /*display: flex;*/
    /*      justify-content: center; */
    /*      align-items: center; */
    /*flex-wrap: wrap;*/
    margin: 30vh 15vw;
}

/*    #main > * {
        margin: 1em 1em 1em 4em;
    }*/

/*#logo {
    width: 150px;
}
*/


#dynamic {
    border-radius: 10px;
    display: flex;
    justify-content: center
}

.scoreRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.8em;
    /*justify-content: center;*/
}
.scoreRow {
    background-color: transparent;
    /* transition the background-color over 1s with a linear animation */
    transition: background-color 1s linear;
    border-radius: 10px;
}

    .scoreRow span {
        margin-bottom: 0.5em;
        font-size: 3em;
    }
.textShadow {
    text-shadow: 2px 2px black;
}
/* causes the background-color to change */
.bgTrans {
    /*background-color: lightgoldenrodyellow;*/
    background-color: rgba(250,250,210,0.4);
}
